<div class="address-group">

    <mat-form-field>
        <mat-select placeholder="请输入省份" [(ngModel)]="address.provice" (selectionChange)="onProviceChange()">
            <mat-option *ngFor="let p of provices$ | async" [value]="p">{{p}}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-select placeholder="请输入城市" [(ngModel)]="address.city" (selectionChange)="onCityChange()">
            <mat-option *ngFor="let c of citys$ | async" [value]="c">{{c}}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-select  placeholder="请输入区县" [(ngModel)]="address.district" (selectionChange)="onDistrictChange()">
            <mat-option *ngFor="let d of districts$ | async" [value]="d">{{d}}</mat-option>
        </mat-select>
    </mat-form-field>
    <div class="street">
        <mat-form-field class="full-width">
            <input matInput type="text"  placeholder="请输入街道地址" [(ngModel)]="address.street" (selectionChange)="onStreetChange()">
        </mat-form-field>
    </div>
</div>